#learn_more{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
 
}

.learn_principal{
    display: flex;
    gap: 20px;
}

.learn_more_paragrafo{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.learn_more_paragrafo h1{
    margin-top: 50px;
}

.learn_more_paragrafo p{
    font-size: 1.3rem;
}

.learn_image{
    height: 40%;
}

.div-sessao_images{
    opacity: 0.5;

}

.div-sessao_images:hover{
    transition: 0.9s;
    opacity: 1;
}

.learn_image img{
    margin-top: -0.5%;
    width: 50%px;
    height: 390px;
}

.btn_customize{
    color: #4CAF4F;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    border: none;
    cursor: pointer;
    width: 300px;
}
