@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #fff;
}

.conteiner-principal{
    
    display: grid;
    height: 100vh;
    width: 100%;
}

.cont-sd{
    display: flex;
    justify-content: center;
}
.cont-sd .slides .sd .desc .txt{
    color: rgb(113, 113, 113);
    transition: 0.5s;
}

.cont-sd .slides .sd .desc .txt:hover{
    color: rgb(0, 0, 0);

}

.slides{
    
    width: 1002.34px;
    height: 275px;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.slides img{
    border-radius: 5.57px;
    width: 100%;
    height: 100%;
}

.sd img{ 
    width: 256.15px;
    height: 198.08px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0,44,1);
    transition: 0.6s;
    opacity: 0.6;
    cursor: pointer;
}

.sd img::after{
    content: "";
    position: absolute;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    z-index: -1;
    
}
.sd img:hover{
    
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    transition: 0.6s;
    opacity: 1;
}
.sd img:hover::after{
    opacity: 1;
    
}

.cont-sd .slides .sd .desc .txt{
    padding-top: 2%;
    padding: 10px;
    letter-spacing: 0.2px;
}

.desc{
    
    border-radius: 5.57px;
    background-color: #f1f1f1;
    position: sticky;
    z-index: 1;
    width: 220px;
    height: 123px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 13.92px;
    cursor: pointer;
}

.desc p{
    
    margin-top: 4%;
    height: 50%;
    font-size: 0.7rem;
}

.desc img{
    
}

.texto-principal{
    letter-spacing: 0.3px;
    margin-top: 35px;
    text-align: center;
    align-items: center;
}

.texto-principal h1{
    color: rgb(118, 118, 118);
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}
.texto-principal p{
    color: rgb(100, 100, 100);
    width: 437px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 11.14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    
}

.slides .sd .desc span{
    
    display: block;
    width: 198.38px;
    height: 30px;
    padding-top: 2px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: grey;
    
}

.slides .sd .desc span:hover{
    color: black;
    
    
}

.leiaMais{
    
    display: flex;
    height: 65px;
    margin-top: 5px;
    box-sizing: border-box;
    align-items: center;
    gap: 1rem;
    
}

.leiaMais span{
   
    height: 15px;
    margin-top: 10px;
}

.leiaMais img{
    
    display: block;
    width: 38px;
    height: 24px;
    margin-right: 25%;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 6%;
}
.cont-sd .slides .sd .leiaMais span{
    color: rgb(0, 173, 20);
    margin-left: 30%;
    margin-right: auto;
}
.cont-sd .slides .sd .leiaMais span:hover{
    color: greenyellow;
}


.modal_conteinerA{
    border: 3px solid rgb(0, 172, 14);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: animation-modal .9s;
    /*outro jeito de chamar a animação*/
    /*animation: animation-modal .10s;*/
}

.modal_conteinerB{
    border: 3px solid rgb(0, 119, 255);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: animation-modal .9s;

}

.modal_conteinerC{
    border: 3px solid rgb(0, 172, 14);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: animation-modal .9s;

}
.modal{
   position: relative;
   display: flex;
   justify-content: center;
}

.modal span{
    border-radius: 25px;
    display: grid;
    justify-content: center;
    box-shadow: 1px 10px 60px -10px rgba(0, 0, 0, 0.748);
    text-align: center;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 100px;
    font-size: 1.4rem;
    font-family: inter;
    font-weight: 600;
    background-color: #ffffff7e;
}

.btn{
    width: 75px;
    height: 30px;
    font-size: 11.14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    border: 3px solid rgb(0, 119, 255);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: absolute;
    top: 85px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    cursor: pointer;
    
    
}

.btn_fechar_modal:hover{
    opacity: 0.9;
}
/*Inicio manipulação css pelo javaScript*/
.modal_conteinerA.ativo{
    display: flex;
}

.modal_conteinerB.ativo{
    display: flex;
}

.modal_conteinerC.ativo{
    display: flex;
}


.ativo .animation-modal{
animation: animation-modal .10s;
}

@keyframes animation-modal{
    /* Inicio da Animação*/
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }

}
/*Fim Animação*/
/*Fim manipulação css pelo javaScript*/

